@tailwind base;
@tailwind components;
@tailwind utilities;

/* Verhindert Scrollbars, wo wir sie nicht wollen */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}